.temperature-button{
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 20px;
    border-radius: 10%;
    padding: 6px 8px;
    color: rgb(15, 15, 9);
    border: 2px solid rgb(15, 15, 9);
    background-color: #d44f5b;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
}

.ani-temper{
    animation: aniForButtonTemper 1.2s 1;
}

@keyframes aniForButtonTemper {
    0%   {right: -35px;}
    50%  {right: 35px;}
    100% {right: 20px;}
}