.darkmode-button{
    position: fixed;
    bottom: 110px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10%;
    padding: 6px 8px;
    color: cornsilk;
    border: 2px solid cornsilk;
    /* box-shadow: 2px 2px 2px   #e0d8d8; */
}

.darkmode-button:hover{
    bottom: 111px;
    right: 21px;
    transform: 0.6s;
}

.darkmode-button:active{
    padding: 7px 9px;
    bottom: 111px;
    right: 21px;
    border: 3px solid cornsilk;
}
