@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

.app{
  background-color: #f5e5ea;
}

.darkmode-app{
  background-color: #ad5f78;
}


.darkmode{
  background: rgb(36,0,22);
  background: linear-gradient(90deg, rgba(36,0,22,1) 0%, rgba(84,45,79,1) 100%);
}
